@import url('https://fonts.googleapis.com/css?family=Fjalla+One'); 

.content{
  margin: auto;
  width: 800px;
  display: flex;
  flex-direction: column;
}
.content ul {
  font-size: 24px;
  list-style-type: none !important;
  display: flex;
  flex-direction: column;
}
hr{
  width: 900px;
}
.content ul li {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h3 {
  margin: 0;
}
.admin-table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 4rem 0;
}
.admin-table h1{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 50px;
}
.admin-subtitle {
  font-size: 3.2rem;
}

.add-btn {background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%)}
.add-btn {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  border: none;
}
.add-btn:hover {
  cursor: pointer;
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn-slice {
  padding: 1.2rem 2.5rem;
  border: 2px solid red;
  border-radius: 0rem;
  color: red;
  font-size: 0.6875rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  position: relative;
  
  -webkit-transition: all 1000ms cubic-bezier(0.890, 0, 0.140, 1); /* older webkit */
  -webkit-transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  -moz-transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  -o-transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); /* custom */

  -webkit-transition-timing-function: cubic-bezier(0.890, 0, 0.140, 1); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  -moz-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  -o-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); /* custom */
}

.btn-slice .top  {
  position: relative;
  height: 6px;
  overflow: hidden;
  top: 0;
  -webkit-transition: all 300ms cubic-bezier(1.000, 0, 0.025, 1); /* older webkit */
  -webkit-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  -moz-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  -o-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); /* custom */

  -webkit-transition-timing-function: cubic-bezier(1.000, 0, 0.025, 1); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  -moz-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  -o-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); /* custom */
  -webkit-transition-delay:0.35s;     
  -moz-transition-delay:0.35s; 
  -ms-transition-delay:0.35s;     
  -o-transition-delay:0.35s;     
  transition-delay:0.35s;
}

.btn-slice .bottom  {
  position: relative;
  height: 6px;
  overflow: hidden;
  bottom: 0;
  -webkit-transition: all 300ms cubic-bezier(1.000, 0, 0.025, 1); /* older webkit */
  -webkit-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  -moz-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  -o-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); /* custom */

  -webkit-transition-timing-function: cubic-bezier(1.000, 0, 0.025, 1); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  -moz-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  -o-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
  transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); /* custom */
  
  -webkit-transition-delay:0.35s;     
  -moz-transition-delay:0.35s; 
  -ms-transition-delay:0.35s;     
  -o-transition-delay:0.35s;     
  transition-delay:0.35s;
}

.btn-slice .bottom span {
  top: -6px;
  position: absolute;
  left: 0;
}

.btn-slice:hover .top {
  top: -5px;
  -webkit-transition-delay:0.35s;     
  -moz-transition-delay:0.35s; 
  -ms-transition-delay:0.35s;     
  -o-transition-delay:0.35s;     
  transition-delay:0.35s; 
}

.btn-slice:hover .bottom {
  bottom: -5px;
  -webkit-transition-delay:0.35s;     
  -moz-transition-delay:0.35s; 
  -ms-transition-delay:0.35s;     
  -o-transition-delay:0.35s;     
  transition-delay:0.35s; 
}
.btn-slice:hover, .btn-slice:focus, .btn-slice:active {
  cursor: pointer;
  margin-left: 10px;
}
.btn-slice:before{
  content: '';
  height: 1px;
  width: 60px;
  background-color: maroon;
  position: absolute;
  margin-top: 6px;
  right: -35px;
  
  -webkit-transition: all 1000ms cubic-bezier(0.890, 0, 0.140, 1); /* older webkit */
  -webkit-transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  -moz-transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  -o-transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); /* custom */

  -webkit-transition-timing-function: cubic-bezier(0.890, 0, 0.140, 1); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  -moz-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  -o-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); /* custom */
}
.btn-slice:hover:before{
  width: 130%;
}




.delete-btn {
  background-color: transparent;
  border: none;
}

.delete-icon {
  font-size: 24px;
  color: #f12711;
  filter: drop-shadow(0.2rem 0.2rem 0.5rem rgb(255 0 0 / 0.2));
  cursor: pointer;
}
@media screen and (max-width: 998px) {
  .admin-subtitle {
    margin-bottom: 1.6rem;
  }
}
